<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-icons.com%2Fko%2F%25EC%2595%2584%25EC%259D%25B4%25EC%25BD%2598%2F%25EC%25BB%25B4%25ED%2593%25A8%25ED%2584%25B0-%25EB%258D%25B0%25EC%258A%25A4%25ED%2581%25AC%25ED%2583%2591-%25EB%25AA%25A8%25EB%258B%2588%25ED%2584%25B0-pc-%25EA%25B0%259C%25EC%259D%25B8%25EC%25A0%2595%2F113441&psig=AOvVaw3mspYA628ypZMuYkycAIRq&ust=1623404026645000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNjM1LThjPECFQAAAAAdAAAAABAI.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">Willis Corto</a></h1>
            <p>I got reprogrammed by a rogue AI<br />
            and now I'm totally cray</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">Home</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/blog">Blog</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

