<!-- Header -->
    <section id="header" class="skel-layers-fixed">
        <header>
            <span class="image avatar"><img src="https://upload.wikimedia.org/wikipedia/commons/e/e4/GWNU-LOGO.jpg" alt="" /></span>
            <h1 id="logo"><a href="{{ site.baseurl }}/">이예지</a></h1>
            <p>18학번이 말하는 컴퓨터공학과<br />
            졸업하기 싫어요</p>
        </header>
        <nav id="nav">
            <ul>
                <li><a href="{{ site.baseurl }}/">홈화면</a></li>
                <li><a href="{{ site.baseurl }}/contact">연락처</a></li>
                <li><a href="{{ site.baseurl }}/blog">블로그</a></li>
            </ul>
        </nav>
        <footer>
            <ul class="icons">
                <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
                <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
        </footer>
    </section>

